	<!-- About Section -->
    <section id="about">
        <div class="container ">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">	
					<div class="col-lg-12 text-center">
						<h2 class="section-heading">About Me</h2>
						<p class="large text-justify text-muted">I am a student currently pursuing Bachelor of Technology in Information Technology from VIT, Vellore. 
						I am eager to contribute to open source community. I like to make small desktop applications using python and java. 
						Sometimes I also do programming on online judge systems like hackerrank, hackerearth, leetcode in C++. 
						I like to do core programming work in C++, java, python. I have tried little bit of web development, 
						android application development but I lack interest in the front end part. 
						I have some experience working with an OPENGL based library COIN3D in C++, socket programming, 
						image processing, GUI development in java, web scrapping and crawling in python. I like to read articles, blogs, novels, etc. 
						I also like to travel and explore new places.</p>
					</div>          
					<div class="col-lg-12">
					<h3 class="subheading">Education</h3>
					<ul>
					<li><p class="large text-muted">B.Tech. Information Technology from <a href="http://www.vit.ac.in/" target="_blank">VIT University</a> (current) CGPA 9.02</p></li>
					<li><p class="large text-muted">XII from <a href="http://mayoorschool.org" target="_blank">Mayoor School, Ajmer</a> 91.2%</p></li>
					<li><p class="large text-muted">X from <a href="http://mayoorschool.org" target="_blank">Mayoor School, Ajmer</a> CGPA 9.6</p></li>
					</ul>
					</div>
					
					<div class="col-lg-12">
					<h3 class="subheading">Technical Skills</h3>
					<p class="large"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i> C++, Java </p>
					<p class="large"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> C, Python, Git </p>
					<p class="large"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> SQL </p>
					<p class="large"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> HTML, XML, CSS, JavaScript, PHP</p>
					<p class="large"><i class="fa fa-star"></i><i class="fa fa-star-o"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></i> Android, Bootstrap, Embedded C, UML </p>
					<br>
					<h4 class="subheading">Tools</h4>
					<table class="table table-hover  "  >
						<thead>
						  <tr>
							<th>Tool</th>
							<th>Used For</th>
							</tr>
						</thead>
						<tbody>
						  <tr>
							<td class="text-muted">Microsoft Visual Studio</td>
							<td class="text-muted">Project Development in C++ also used COIN 3D, SOWIN Libraries; basic C#, ASP.NET development, GUI development using C++</td>
						  </tr>
						  <tr>
							<td class="text-muted">Eclipse</td>
							<td class="text-muted"> Image processing in java, Project Development, Socket Programming, GUI development using windows builder, Android app development</td>
						  </tr>
						  <tr>
							<td class="text-muted">Android Studio</td>
							<td class="text-muted">Android app development</td>
						  </tr>
							  <tr>
							<td class="text-muted">Netbeans IDE</td>
							<td class="text-muted">Web Development</td>
						  </tr>
						  <tr>
							<td class="text-muted">Adobe Photoshop</td>
							<td class="text-muted">Image manipulations, creation</td>
						  </tr>
						  <tr>
							<td class="text-muted">Keil uVision</td>
							<td class="text-muted">ASM and embedded C programs in 8051</td>
						  </tr>
						  <tr>
							<td class="text-muted">PyCharm</td>
							<td class="text-muted">GUI development using PyQt, scrapping and crawling using Selenium, BeautifulSoup, UrlLib and Project Development</td>
						  </tr>
					</tbody>
					</table>
					</div>
			<div class="col-lg-12">
					<h3 class="subheading">Work</h3><br>
					<h4 class="subheading">Summer Intern</h4>
					<div class="row"><h5 class="col-lg-12" data-toggle="tooltip" title="ONGC is an Indian multinational oil and gas company. It is India's largest oil and gas exploration and production company. ">Oil and Natural Gas Corporation Ltd <span class="label label-danger"><a href="http://www.ongcindia.com/" target="_blank" style="color:white">ONGC</a></span> 
					<span class="label label-warning"><a href="{{ "/Certificates/ONGC_Project_Report.pdf" | prepend: site.baseurl }}" target="_blank">Report</a></span>
					<span class="label label-success"><a href="{{ "/Certificates/ONGC_Certificate.pdf" | prepend: site.baseurl }}" target="_blank">Certificate</a></span>
					<br> J<span style="text-transform: lowercase">une 2016</span></h5></div>
					<p class="large  text-justify text-muted">Developed a 3D modelling program from scratch which read coordinates from a file and model oil/gas wells. The project is developed in C++ using COIN3D, SOWIN3D libraries. Many supportive functions were developed which were not available in those libraries to ease out modelling of basic shapes and labelling them. Object Oriented approach was used to implement the overall project, so that in later projects this code can be directly accessed using objects and their functions.  </p>
					
			</div>
			<div class="col-lg-12">
					<h3 class="subheading">Certifications</h3><br>
					<h4 class="subheading">Microsoft Value Added Course </h4>
					<div class="row"><h5 class="col-lg-12" data-toggle="tooltip" title="Got selected from over 800+ students for this program.">Campus Connect Program @VIT University <span class="label label-success"><a href="{{ "/Certificates/Microsoft.jpg" | prepend: site.baseurl }}" target="_blank">Certificate</a></span><br> F<span style="text-transform: lowercase">ebruary 2016 - </span>A<span style="text-transform: lowercase">pril 2016</span></h5></div>
					<p class="large  text-justify text-muted">Selected students were given introductory training on Microsoft's tools and technologies, some of the topics covered were Visual Studio, UWP, ASP.NET, C#, MVC, Azure, IOT.</p>
					<br>
					<h4 class="subheading">Android Application Development</h4>
					<div class="row"><h5 class="col-lg-12" >TIFAC-CORE VIT University <span class="label label-success"><a href="{{ "/Certificates/TIFAC.jpg" | prepend: site.baseurl }}" target="_blank">Certificate</a></span> <br> J<span style="text-transform: lowercase">anuary 2015 - </span>A<span style="text-transform: lowercase">pril 2015</span></h5></div>
					<p class="large  text-justify text-muted">Learnt Android App Development using Eclipse. Some of the major topics covered were: •Basic Java for Android •Android Basics (SDK) •User-Interface &amp; Life-cycle
					•Creating hidden running application •Send &amp; Receive SMS Handling •Mobile Database handling.</p>
					
			</div>
			<div class="col-lg-12">
					<h3 class="subheading">Publications</h3>
					<div class="panel panel-default">
						  <div class="panel-heading">
							<a class="panel-title" href="http://www.ijraset.com/" target="_blank">International Journal for Research in Applied Science and Engineering Technology (IJRASET)<strong> <span style="font-size:0.7em">Volume 5, Issue VI, June 2017</span></strong></a>
						  </div>
						  <div class="panel-body text-justify text-muted">
						  <strong>Static Load Balancing Using ASA Max-Min Algorithm</strong>
						  <span class="label label-success"><a href="{{ "/Certificates/IJRASET8525_Shubham_Mathur.pdf" | prepend: site.baseurl }}" target="_blank">Certificate</a></span>
						  <span class="label label-warning"><a href="http://www.ijraset.com/fileserve.php?FID=8525" target="_blank">Paper</a></span>
						  <br>
							Developed a new algorithm by optimizing Max-Min load balancing algorithm to generate an overall better makespan of tasks.
							The proposed method is evaluated for particular testcases in which Max-Min fails and the results are compared by plotting
							Gantt Charts of the makespan.
						  </div>
					</div>
					<div class="panel panel-default">
						  <div class="panel-heading">
							<a class="panel-title" href="http://icacci-conference.org/2016/" target="_blank">International Conference on Computing, Communications and Informatics (ICACCI-2016)<strong> <span style="font-size:0.7em">November 2016</span></strong></a>
						  </div>
						  <div class="panel-body text-justify text-muted">
						  <strong>An Efficient Spatial Domain based Image Watermarking using Shell Based Pixel Selection</strong>
  						  <span class="label label-success"><a href="{{ "/Certificates/07732468.pdf" | prepend: site.baseurl }}" target="_blank">Paper</a></span>
						  <span class="label label-warning"><a href="http://ieeexplore.ieee.org/document/7732468/" target="_blank">IEEE Xplore</a></span>
						  <br>
							Implemented a new algorithm in spatial domain with shell based pixel selection for watermark embedding and extraction. 
							The proposed method is evaluated with benchmark dataset and we obtained a favorable result in terms of PSNR
							and BER. We reported the results of various kinds of image manipulation to
							assess the performance of the proposed method by drawing a comparative
							study of the original watermark and the watermark extracted from a
							manipulated image.
						  </div>
					</div>
			</div>
			</div>                  
		</div>
		</div>
    </section>
