<!-- Projects Section -->
    <section id="project" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects</h2>
                    <h3 class="section-subheading text-muted">These are some of my academic and non-academic projects.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                       <a href="{{ "/MovieCataloger" | prepend: site.baseurl }}" target="_blank"> <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-video-camera fa-stack-1x fa-inverse"></i>
						
                    </span>
                    <h4 class="service-heading">Movie Cataloger</h4>
					</a>
                    <p class="text-muted">A desktop application to manage personal movie collection. It is developed entirely in Java, capable of finding movies on local storage and retrieving their data from IMDB. It can categorize and analyse movie collection. <a href="https://github.com/googleknight/MovieCataloger/releases" target="_blank"><span class="badge">Setup</span></a> </p>
                </div>
			<div class="col-md-4">
                    <span class="fa-stack fa-4x">
                       <a href="https://github.com/googleknight/WellProjections" target="_blank"> <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-magic fa-stack-1x fa-inverse"></i>
						
                    </span>
                    <h4 class="service-heading">Well Projections</h4>
					</a>
                    <p class="text-muted">It is a 3D modelling program developed completely in C++ using COIN3D, SOWIN API which reads coordinates from a file and model oil/gas wells in 3D.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
					<a href="{{ "/FragileWatermarking" | prepend: site.baseurl }}" target="_blank">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-braille fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Fragile Watermarking</h4>
					</a>
                    <p class="text-muted">Invisible Digital Image Watermarking in spatial domain using LSB bit manipulation. It is capable to do watermark embedding, extraction and comparison of images.</p>
                </div>
                
            </div>
			<br>
			<br>
			
			
			<div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
					<a href="{{ "/PythonScripts" | prepend: site.baseurl }}" target="_blank">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web crawlers & Scrappers</h4>
                    </a>
					<p class="text-muted">Collection of python scripts written to crawl, scrap and save user’s accepted submissions 
					on HackerRank, LeetCode and on Campusinteraction, it scrapes data and generates SQL table about the companies 
					that visited VIT for recruiting 2017 passing batch students.</p>
                </div>
			<div class="col-md-4">
                    <span class="fa-stack fa-4x">
					<a href="{{ "/Value-Time" | prepend: site.baseurl }}" target="_blank">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Value Time</h4>
					</a>
                    <p class="text-muted">A chrome extension which replaces the default new tab with a web-page, showing time remaining in the 
					day with motivational quotes, so as to keep one motivated to complete his goals and prevent him to waste any time.
					<a href="https://chrome.google.com/webstore/detail/valuetime/badapfgpjjaagnahmlfkhpomblifhiaj" target="_blank"><span class="badge">Chrome Store</span></a> </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
					<a href="https://github.com/googleknight/jaipur-bus-app" target="_blank">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bus fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Jaipur Bus Info</h4>
					</a>
                    <p class="text-muted">This android app is based upon the data of local low floor government buses running in Jaipur city. It helps user to get the information about all the stops that a particular bus goes. It is also capable of finding direct and indirect routes between bus stops.</p>
                </div>
            </div>
        </div>
    </section>