{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}"><i class="icon-envelope icon-2x"></i></a>{% endif %}
{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}"><i class="icon-github icon-2x"></i></a>{% endif %}
{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="icon-linkedin-sign icon-2x"></i></a>{% endif %}
{% if site.footer-links.googleplus %}<a href="https://plus.google.com/{{ site.footer-links.googleplus }}"><i class="icon-google-plus-sign icon-2x"></i></a>{% endif %}
{% if site.footer-links.quora %}<a href="https://www.quora.com/profile/{{ site.footer-links.quora }}"><span style="font-size:2em" ><strong>Q</strong></span>
</span></a>{% endif %}