<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>404 Page Not Found - Shubham Mathur</title>
    <link rel="stylesheet" href="{{ "/css/404style.css" | prepend: site.baseurl }}">

  <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

	<link rel="icon" type="image/png" href="{{ "/img/favicon.png" | prepend: site.baseurl }}" />

</head>
<body>

  <div class="page-container page-container-responsive">
    <div class="row space-top-8 space-8 row-table">
        <div class="col-7 col-middle">
          <h1 class="text-jumbo text-ginormous">Oops!</h1>
          <h2>Did you lost your way? </h2>
          <h6>Error code: 404</h6>
          <ul class="list-unstyled">
            <li>Let's get back you to <a href="https://shubhammathur.me/">Home!</a></li>
          </ul>
        </div>
        <div class="col-5 col-middle text-center">
          <img src="{{ "/img/404image.gif" | prepend: site.baseurl }}" width="313" height="428" alt="Girl has dropped her ice cream.">
        </div>
      </div>
    </div>
  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="https://www.airbnb.com/404">Error page desgin inspired from airbnb  </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

	</body>

</html>